# Ignore temp and bin files
/eshopBackend.App/bin/
/eshopBackend.App/obj/
/eshopBackend.DAL/bin/
/eshopBackend.DAL/obj/
# Ignore IDE settings
/.idea/
/xpc-mw5-2023-negotiators.sln.DotSettings.user
# Ignore DB configs
/eshopBackend.DAL/dbConfig.json
/eshopBackend.DAL/appsettings.json
